<!DOCTYPE html>
<html lang="en">
<head>
<title>MyBB Manager Interface</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>

.btn-grande {
  height: 50px;
}
body { padding-top: 70px; }

</style>

{% block head %}
{% endblock %}


<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <body>

    <div class="container">
      <div class="header clearfix">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><h4>MyBB Cluster Manager</h4></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <div class="navbar-form navbar-right">
              {% if not session.logged_in %}
                <button type="submit" class="btn btn-success btn-grande" onclick="document.location.href='/login'">Log in</button>
              {% else %}
                <ul class="nav navbar-nav" >
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>

              {% endif %}
              </div>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>


      </div>
      {% block body %}{% endblock %}
  </div>
</body>
</div>
